<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

	<Appenders>
		<RollingFile name="RollingFileInfo" fileName="D:\logs\examine\info.log"
                     filePattern="D:\logs\examine\info-%d{yyyy-MM-dd}-%i.log.zip"
                     append="false">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="24" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
	
		<RollingFile name="RollingFileWarn" fileName="D:\logs\examine\warn.log"
                     filePattern="D:\logs\examine\warn-%d{yyyy-MM-dd}-%i.log.zip"
                     append="false">
            <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="24" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
        
        <RollingFile name="RollingFileError" fileName="D:\logs\examine\error.log"
                     filePattern="D:\logs\examine\error-%d{yyyy-MM-dd}-%i.log.zip"
                     append="false">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="24" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
        
        <RollingFile name="RollingFileTimeOut" fileName="D:\logs\examine\timeout.log"
                     filePattern="D:\logs\examine\timeout-%d{yyyy-MM-dd}-%i.log.zip"
                     append="false">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="24" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
	</Appenders>
	
	<Loggers>
		<root level="info">
            <appender-ref ref="RollingFileInfo"/>
			<appender-ref ref="RollingFileWarn"/>
            <appender-ref ref="RollingFileError"/>
	    </root>
	    
	    <logger name="timeout" level="trace" additivity="false">
			<appender-ref ref="RollingFileTimeOut"/>
		</logger>
	</Loggers>

</Configuration>